# Postgres
PG_URI=postgresql://neondb_owner:password@ep-patient.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# MongoDB
MONGO_URI=mongodb+srv://db_user:db_password@cluster.mongodb.net/
# Redis
REDIS_URL=redis://default:password@redis-14750.ap-seast-1-1.ec2.cloud.redislabs.com:14750
# Cassandra
ASTRA_DB_CLIENT_ID=your_astra_client_id
ASTRA_DB_CLIENT_SECRET=your_astra_client_secret
# Neo4j
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=password
# Cloudinary
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret