.container {
    display: flex;
    flex-direction: row;
    margin-top: 64px;
    height: 100%;
}

.content {
    flex: 1;
    padding: 20px 0px 20px 20px;
    margin-left: 190px;
}

.menuItems {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.menuLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.menuSeeAll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #FF6B35;
    font-weight: bold;
    text-decoration: none;
    color: grey;
    margin-right: 20px;
}

.menuSeeAll:hover {
    color: #FF6B35;
    text-decoration: none;
    cursor: pointer;
}

.menuCard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 4px;
    gap: 20px;
}

.menuBanner{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cardWrapper {
    cursor: pointer;
}
