.sidebar {
    background-color: #FFFDFB;
    border: 0;
    padding: 0;
    min-width: 180px;
    height: 100vh;
    border-right: 1px solid rgb(223, 220, 220);
    position: fixed;
    top: 64px;
    z-index: 1000;
}

.sidebarItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    height: 40px;
    margin: 10px;
    padding: 0 16px 0 20px;
    font-weight: 600;
}

.sidebarLabel {
    flex: 1;
}

.sidebarItem:hover {
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
}

.IsActive{
    background-color: rgb(255, 235, 213);
    color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}
