.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    --header-height: 64px;
    --sidebar-width: 180px;
}

.main {
    flex: 1;
    margin-left: var(--sidebar-width);
    padding: var(--header-height) 0 0 0;
    overflow-y: auto;
    overflow-x: hidden;
}