.container {
    display: flex;
    flex-direction: row;
    margin-top: 64px;
    height: 100%;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 10px;
}

.menuLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.menuSeeAll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #FF6B35;
    font-weight: bold;
    text-decoration: none;
    color: grey;
    margin-right: 20px;
}

.menuSeeAll:hover {
    color: #FF6B35;
    text-decoration: none;
    cursor: pointer;
}

.menuCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}

.category{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoryFilter{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 0 20px 15px 0;
}

.filterContainer{
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 32px;
    border: 0;
    padding: 0 15px;
    font-weight: bold;
    line-height: 1;
}

.filterSelection{
    background-color: transparent;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 32px;
    border: 0;
    font-weight: bold;
    line-height: 1;
}

.filterSelection:hover{
    background-color: rgb(213, 213, 213);
}

.filterContainer:hover{
    background-color: rgb(213, 213, 213);
}

.filterRating{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}
