.menuPage {
    min-height: 100vh;
    background-color: #FFF;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.content {
    flex: 1;
    padding: 20px;
    min-width: 0;
    box-sizing: border-box;
}

.menuItems {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.menuLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.menuSeeAll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #FF6B35;
    font-weight: bold;
    text-decoration: none;
    color: grey;
}

.menuSeeAll:hover {
    color: #FF6B35;
    text-decoration: none;
    cursor: pointer;
}

.menuCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    overflow-x: hidden;
    margin-top: 4px;
    gap: 20px;
}

.menuBanner{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cardWrapper {
    cursor: pointer;
    flex: 0 0 calc((100% - 80px) / 5);
    max-width: calc((100% - 80px) / 5);
}

@media (max-width: 1024px) {
    .content {
        margin-left: 0;
        padding-right: 20px;
    }
}
