:root {
  --primary-color: #ff6b35;
  --secondary-color: #f7f7f7;
  --hover-color: #e55b2c;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
  font-family: "Lexend", sans-serif;
}